{% extends 'base.html' %} {% block body %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div>
        <h1 style="text-align: center">
          <span style="font-size: x-large"
            ><h1><strong><u>A</u><u>bout Us !</u></strong></span
          ></h1>
        </h1>
        <h3 style="text-align: center">
          <span style="font-weight: normal"
            ><span style="font-size: large"
              >Hello Friends Welcome To Occnet</span
            ></span
          >
        </h3>
        <p style="text-align: center"><br /></p>
        <p style="font-size: 18px">
          Occnet is a Professional Job searching site Platform. Here we will
          provide you only interesting content, which you will like very
          much.<br />
        </p>
        <p style="text-align: center"><br /></p>
        <p style="font-size: 18px">
          We're dedicated to providing you the best of Job searching site, with
          a focus on dependability and Daily job updates.
          <br /><br />
        </p>
        <p style="font-size: 18px">
          We're working to turn our passion for Job searching site into a
          booming online website. We hope you enjoy our Job searching site as
          much as we enjoy offering them to you.
        </p>
        <div style="text-align: center"><br /></div>
        <div style="text-align: center">
          <h3>
            I will keep posting more important posts on my Website for all of
            you. Please give your support and love.
          </h3>
        </div>
        <div style="text-align: center">
          <h3>Thanks For Visiting Our Site</h3>
        </div>
        <div style="text-align: center">
          <a href="/contact-us" target="_blank"
            ><span style="font-size: medium"><h4><strong>Contact Us !</strong></h4></span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
