{% extends 'base.html' %} {% block body %}
<form action="/sign-up" method="POST">
  {% csrf_token %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">
          Either you run the day or The day runs you.
        </h1>
        <p class="leading-relaxed mt-4">
          This is the real secret of life is to be completely engaged with what
          you are doing in the here and now. And instead of calling it work,
          realize it is play.
        </p>
      </div>
      <div
        class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
      >
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
          Sign Up
        </h2>
        <div class="relative mb-4">
          <label for="username" class="leading-7 text-sm text-gray-600"
            >Username</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required
          />
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required
          />
        </div>
        <div class="relative mb-4">
          <label for="qualification" class="leading-7 text-sm text-gray-600"
            >Qualification</label
          >

          <select
            name="qualification"
            id="qualification"
            class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          >
            <option value="Computer Engineer">Computer Engineer</option>
            <option value="Mechanical Engineer">Mechanical Engineer</option>
            <option value="Civil Engineer">Civil Engineer</option>
            <option value="Electrical Engineer">Electrical Engineer</option>
          </select>
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required
          />
        </div>

        <button
          class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg"
          type="submit"
        >
          Sign in
        </button>
        <p class="text-xs text-gray-500 mt-3">
          Literally you probably haven't heard of them jean shorts.
        </p>
      </div>
    </div>
  </section>
</form>
{% endblock body %}
